<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://java.sun.com/jsf/passthrough">

<h:head>
	<title>Login</title>
	<h:outputStylesheet library="bootstrap" name="css/bootstrap.css"
		rel="stylesheet" media="screen" />
	<h:outputStylesheet library="css" name="estilo.css" />
</h:head>

<h:body style="background-image: url('http://localhost:8080/projeto-jogo/resources/imagens/landscape.jpg');background-size:100%;background-repeat:no-repeat;">
	<div style="width: 512px; heigth: 100%; display: block; margin: 10% auto;">
		<h:form>
			<div class="login">
				<div class="form-group">
					<h:outputLabel value="Nome Completo" />
					<h:inputText value="#{usuarioMB.usuarioDTO.nome}"
						class="form-control" required="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="E-mail" />
					<h:inputText value="#{usuarioMB.usuarioDTO.dsLogin}"
						class="form-control" required="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="CPF" />
					<h:inputText value="#{usuarioMB.usuarioDTO.cpf}"
						class="form-control" required="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="Unidade Consumidora" />
					<h:inputText value="#{usuarioMB.usuarioDTO.unidadeConsumidora}"
						class="form-control" required="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="Senha" />
					<h:inputSecret value="#{usuarioMB.usuarioDTO.dsSenha}"
						class="form-control" required="true"/>
				</div>
				<div class="form-group">
					<h:commandButton action="#{usuarioMB.salvar()}" value="Enviar"
						class="btn btn-primary" />
				</div>
			</div>
		</h:form>
	</div>
</h:body>


</html>