<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://java.sun.com/jsf/passthrough">

<ui:composition>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal">&times;</button>
	      		</div>
	      		<h:form id="frmPergunta">
		      		<div class="modal-body" id="pergunta">
		      			<span>#{jogoMB.pergunta.descricao}</span>
		      			<br/><br/>
		      			<h:selectOneRadio value="#{jogoMB.pergunta.respostaSelecionada}" layout="pageDirection"
		      							  converter="omnifaces.SelectItemsConverter">
						   	<f:selectItems var="item" value="#{jogoMB.pergunta.respostas}" itemValue="#{item}" itemLabel="#{item.descricao}" />
						</h:selectOneRadio>
		      		</div>
		      		<div class="modal-footer">
		      		    <h:commandButton value="Confirmar" styleClass="btn btn-primary" id="botaoSelecao" action="#{jogoMB.calcularPontuacao()}" >
		      				<f:ajax execute="@form" render="pontuacao" onevent="onCompleteResposta" />		      		    	
		      		    </h:commandButton>
		      			
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      		</div>
		  		</h:form>
	    	</div>
	  </div>
	</div>
</ui:composition>
</html>