<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://java.sun.com/jsf/passthrough">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<header class="intoFinal">
		<div class="container">
			<div>
				<h1 class="final" >Quantidade de Acertos</h1>
				<h1 class="final" >#{finalMB.acertos}</h1>
			</div>
		</div>
		</header>
	</ui:define>
</ui:composition>
</html>

