<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
         	 	</button>
         		 <a class="navbar-brand" href="#"><h:graphicImage library="imagens" name="mundo.png" width="45" style="float:left; margin-right:5px; margin-top:-10px"/>Mundo Melhor</a>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse navbar-right ">
          		<ul class="nav navbar-nav">
		            <li class="active" style="font-size: 23px; line-height: 50px; margin-right: 60px; color: blanchedalmond;">Pontos de Hoje: <h:outputText id="pontuacao" value="#{finalMB.acertos}" /></li>
		            <li class="active" style="font-size: 23px; line-height: 50px; margin-right: 60px; color: blanchedalmond;"><h:graphicImage library="imagens" name="trofeu.png" style="height:30px;"/><h:outputText id="pontosTotal" value="#{segurancaSessionController.usuarioLogado.pontos}" /></li>
		            <li><h:graphicImage library="imagens" name="profile.png" width="45" style="margin-top: 2px"></h:graphicImage></li>
            		<li class="dropdown">
	              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meus Dados <span class="caret"></span></a>
	              		<ul class="dropdown-menu">
			                <li><a href="meusDados.xhtml">Cadastro</a></li>
			                <li><a href="#">Pontos</a></li>
			                <li><a href="#">Histórico</a></li>
			                <li role="separator" class="divider"></li>
			                <li><a href="#">Sair</a></li>
			              </ul>
            		</li>
         		</ul>
        	</div><!--/.nav-collapse -->
  		</div>
	</nav>
</ui:composition>
</html>