<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Login</title>
	<h:outputStylesheet library="bootstrap" name="css/bootstrap.css"
		rel="stylesheet" media="screen" />
	<h:outputStylesheet library="css" name="estilo.css" />
</h:head>

<h:body
	style="background-image: url('http://localhost:8080/projeto-jogo/resources/imagens/landscape.jpg');background-size:100%;background-repeat:no-repeat;">
	<!-- <h:body style="background-image: url('http://localhost:8080/projeto-jogo/resources/imagens/landscape.png');background-size:100%;background-repeat:no-repeat;width:512px;heigth:100%;display:block;margin:10% auto;">
-->
	<div style="width: 512px; heigth: 100%; display: block; margin: 10% auto;">
		<h:form>
			<div class="login">
				<h:messages style="list-style-type: none;"/>
				<div class="form-group">
					<h:inputText value="#{loginController.usuario}"
						class="form-control" pt:placeholder="E-mail" />
				</div>
				<div class="form-group">
					<h:inputSecret value="#{loginController.senha}"
						class="form-control" pt:placeholder="Senha" />
				</div>
				<div class="form-group">
					<h:commandButton action="#{loginController.logar()}" value="Entre"
						class="btn btn-primary botaoLogar" />
				</div>
				<h:commandLink value="Cadastre-se" action="cadastroUsuario.xhtml"
					style="float:right; display:block;margin:4px 0px 0px 15px;" />
			</div>
		</h:form>
	</div>
</h:body>
</html>
