<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://java.sun.com/jsf/passthrough">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<header class="intoPrincipal">
		<div class="container">
			<h:form>
				<div class="form-group">
					<h:outputLabel value="Nome Completo" />
					<h:inputText value="#{segurancaSessionController.usuarioLogado.nome}" styleClass="form-control" disabled="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="E-mail" />
					<h:inputText value="#{segurancaSessionController.usuarioLogado.dsLogin}" styleClass="form-control" disabled="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="CPF" />
					<h:inputText value="#{segurancaSessionController.usuarioLogado.cpf}" styleClass="form-control" disabled="true"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="Unidade Consumidora" />
					<h:inputText value="#{segurancaSessionController.usuarioLogado.unidadeConsumidora}" styleClass="form-control" disabled="true"/>
				</div>
			</h:form>
		</div>
		</header>
	</ui:define>
</ui:composition>
</html>