<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://java.sun.com/jsf/passthrough">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<header class="intoPrincipal">
		<div class="container">
			<h:panelGroup id="fasePanel">
				<div class="tituloFase">
					<h1>#{jogoMB.fase.descricao}</h1>
				</div>
				<div style="margin-top: 30px">
					<ui:repeat var="item" value="#{jogoMB.fase.perguntas}">
						<h:panelGroup>
							<button type="button" class="btn btn-info btn-lg buttonOpenModal">
								<div class="jumbotron fases">
									<div>
										<h:graphicImage library="imagens" name="#{item.imagem}"
											style="height:110px; width:150px;" />
									</div>
									<div class="conteudoFase">
										<h3>#{item.numero}/#{jogoMB.fase.perguntas.size()}</h3>
										<p>#{item.dicas}</p>
									</div>
								</div>
							</button>
							<f:ajax event="click" render=":frmPergunta"
								listener="#{jogoMB.selecionarPergunta(item)}"
								onevent="onComplete" />
						</h:panelGroup>
					</ui:repeat>
				</div>
			</h:panelGroup>

			<div class="proximo">
				<div>
					<h:form>
						<h:commandLink action="#{jogoMB.proximaFase()}">
							<h:graphicImage library="imagens" name="seta.png"
								style="height:70px; width:70px; float:right;" />
							<f:ajax execute="@this" render=":fasePanel" />
						</h:commandLink>
					</h:form>
				</div>
			</div>
		</div>
		</header>
		<ui:include src="/dialogPergunta.xhtml" />
		<script>
			function onComplete(data){
				if (data.status == "success") {
					$('#myModal').modal();
			    }
			}
			function onCompleteResposta(data){
				if (data.status == "success") {
					$('#myModal').modal('hide');
			    }
			}
		</script>
	</ui:define>
</ui:composition>
</html>