<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<header class="into">
		<div class="container">
			<div>
				<div class="tituloFase">
					<h1>Segunda Fase</h1>
				</div>
				<div style="margin-top: 30px">
					<button type="button" class="btn btn-info btn-lg buttonOpenModal"
						data-toggle="modal" data-target="#myModal4">
						<div class="jumbotron fases">
						<div>
							<h:graphicImage library="imagens" name="torneira.jpg"
								style="height:110px; width:150px;" />
						</div>
						<div class="conteudoFase">
							<h3>4/6</h3>
							<p>Ao fechar a torneira, certifique-se de que ela não ficou
								pingando. Ao longo de um ano, esse pinga-pinga de "apenas umas
								gotinhas" desperdiça, pelo menos, 16 mil litros de água limpa e
								tratada, o que custa cerca de R$ 1.200 na sua conta. Já pensou
								quanta coisa você poderia fazer com esse dinheiro que escorre,
								diariamente, pelo seu ralo?</p>

						</div>
					</div>
					</button>
					</div>
					
					<button type="button" class="btn btn-info btn-lg buttonOpenModal"
						data-toggle="modal" data-target="#myModal5">
						<div class="jumbotron fases">
						<div>
							<h:graphicImage library="imagens" name="louca.jpg"
								style="height:110px; width:150px;" />
						</div>
						<div class="conteudoFase">
							<h3>5/6</h3>
							<p>Na lavagem de louças: Lavar louças com a torneira aberta,
								o tempo todo, desperdiça até 105 litros. Ensaboe a louça com a
								torneira fechada e depois enxágüe tudo de uma vez. Na máquina de
								lavar são gastos 40 litros. Utilize-a somente quando estiver
								cheia.</p>
						</div>
					</div>
					</button>

					<button type="button" class="btn btn-info btn-lg buttonOpenModal"
						data-toggle="modal" data-target="#myModal6">
						<div class="jumbotron fases">
						<div>
							<h:graphicImage library="imagens" name="calcada.jpg"
								style="height:110px; width:150px;" />
						</div>
						<div class="conteudoFase">
							<h3>6/6</h3>
							<p>Regar jardins e plantas: No inverno, a rega pode ser feita
								dia sim, dia não, pela manhã ou à noite. Use mangueira com
								esguicho-revólver ou regador.</p>
						</div>
					</div>
					</button>
				<div class="anterior">
					<div>
						<h:link outcome="principal">
							<h:graphicImage library="imagens" name="setaesquerda.png"
								style="height:70px; width:70px; float:left;" />
						</h:link>
					</div>
				</div>
			</div>
			<ui:include src="/dialogPergunta4.xhtml" />
			<ui:include src="/dialogPergunta5.xhtml" />
			<ui:include src="/dialogPergunta6.xhtml" />
			</div>
 		</header>
	</ui:define>
</ui:composition>
</html>