<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Planeta Mundo</title>
	<h:outputStylesheet library="bootstrap" name="css/bootstrap.css" rel="stylesheet" media="screen"/>
	<h:outputStylesheet library="css" name="estilo.css" />
	
	<h:outputScript library="js" name="jquery-3.1.0.min.js" target="body"></h:outputScript>
	<h:outputScript library="bootstrap" name="js/bootstrap.min.js" target="body"></h:outputScript>
</h:head>
<h:body>
	<ui:include src="/header.xhtml" />
		<ui:insert name="content">
		
		</ui:insert>
	<!--  <ui:include src="/footer.xhtml" />-->
</h:body>
</html>