* {
	margin: 0;
	padding: 0;
}

.form-control{
	margin-bottom: 5px;
}

body {
	width:100%;
	height:100%;
	color: black; !important;
	font-family:Calibri !important;
	font-size: 18px important;
	background-color: #f0f0fe;
}

#formulario span{
	font-size: 30px;
	color: white;
	
}

#botaook{
    width: 105px;
    height: 30px;
    margin-top: 5px;
    margin-left: 64.5px;
}

.login {
    width: 290px;
    margin: auto;
    display: block;
    clear: both;
    overflow: hidden;
    padding-top: 13px;
    padding: 20px;
    border: 2px solid rgb(0, 152, 249);
    background-color: white;
    font-size:20px;
}

.login input {
	width: 100%;
	font-size:20px !important;
}

.botaoLogar {
	width:100%;
	font-size:20px;
}

.tpergunta {
	height:500px;
	width:1000px;
    background: #3b3e3b;
    padding: 10px;
    box-shadow: 1px 13px 13px #888888;
    margin: 0 auto;
}

.tpergunta h1 {
    color: #f5f5dc;
    text-align: center;
    font-size: 50px;
}


.intoPrincipal {
    width: 100%;
    padding: 80px 0;
    height: 100%;
    /*background-image: url('http://3.bp.blogspot.com/-GiOSppOAUOo/T84YtmyOksI/AAAAAAAAAzg/sf6ZvpdzQLQ/s1600/woter+1.png');
    background-color: #f0f0fe;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;*/
}

.intoFinal {
    width: 100%;
    padding: 80px 0;
    height: 100%;
    background-image: url('http://blog.nextin.com.br/wp-content/uploads/2015/01/O-que-fazer-para-economizar-%C3%A1gua.png');
    background-color: #f0f0fe;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}

.navbar-inverse {
    background-color: transparente !important;
    border-color: #080808;
    background-image: url('http://localhost:8080/projeto-jogo/resources/imagens/teste.png');
}

.navbar-inverse {
    background-color: transparent !important; 
}

.navbar-inverse .navbar-brand {
    color: #f5f5dc;
}

/**************************************************************
	principal.xhtml
**************************************************************/

.jumbotron {
	  background:  #2BA5FF; /* For browsers that do not support gradients */
 	 background: -webkit-radial-gradient(#2EA6FF, #54BAFE, #85D9F7); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#85D9F7 29%, #54BAFE 71%, #2EA6FF); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#85D9F7 29%, #54BAFE 71%, #2EA6FF); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#85D9F7 29%, #54BAFE 71%, #2EA6FF); /* Standard syntax */
/* 	background: #2BA5FF !important;
 */	color:back !important;
}

.jumbotron p {
	font-size: 18px !important;	
	width: 900px;
}

.conteudoFase h3 {
	margin-top: 0 !important;
	text-align: center;
	width: 1100px;
}

.fases{
	padding: 20px !important;
    border-radius: inherit !important;
   box-shadow: 1px 4px 30px #888888;
    min-height: 150px;
}

.tituloFase {
    background: #3b3e3b;
    /*background: #00a000;   ---- Verde */ 
    padding: 1px;
        box-shadow: 0px 1px 22px #888888;
    height: 80px;
}

.tituloFase h1 {
	color: #f5f5dc;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

.final {
	color: white;
    text-align: center;
    font-size: 150px;
    margin-top: 10px;
    text-shadow: black 2px 2px 2px;
/*     , black -1px -1px;
 */}



.fase {
	border: black 1px solid;
	width: 108px;
	margin: 10px 5px 10px 5px;
	height: 140px;
}

#default {
	margin: 0 auto;
	height: 640px;
	width: 360px;
}



#rodape{
	margin-bottom: 0px;
}



/* .fases h3{
	float:right;
	padding-right: 770px;
	padding-bottom: 40px;
}*/

.fases img{
	float:left;
}

.fases ul li{
	list-style-type: none;
	line-height: 20px;
	text-align: center;
}

p{
	padding-left: 15px;
    float: left;
    width: 825px;
}

.buttonOpenModal {
	background: transparent !important;
    border: transparent !important;
    border-radius: inherit !important;
    width: 100%;
    padding: 0;
    color:black !important;
    text-align: left;
    white-space: normal;
    height: 150px;
    margin-bottom: 15px;
}

.buttonOpenModal :hover {
	color: black !important;
}

#myModal {
	top: 70px;
}

#pergunta span,label {
	font-size:20px;
}

#pergunta input[type="radio"] {
	margin-right: 10px;
}








